<footer class="container" style="margin-top 150px;">
  <p class="text-center">Copyright @2017 Rails105
    <br>Design by
      <a href="http://baidu.com" target=_new>jkxruby</a>
    </p>
  </footer>
    
